{% extends 'main/base.html' %}
{% load static %}

{% block title %}
New password
{% endblock %}

{% block body %}
    
    <div class="main-div">
        <h1 class= "main-title"><strong>Reset Password</strong></h1>
    </div>

    <div class="container ctn-reset-password-conf">
        <div class="content-section">

            <p>Please enter your new password <strong>{{user.get_full_name}}</strong>:</p>
            <form method="POST">
                {% csrf_token %}
                
                {% if form.errors %}
                    <div class="alert alert-message">
                        
                        {% for field in form %}
                            {% for error in field.errors %}
                            
                                <li>{{ error }}</li>
                            
                            {% endfor %}
                        {% endfor %}
                        
                    </div>
                {% endif %}

                <div class="input-row">
                    <label for="new_password1" class="register-input"> new password</label>
                    <p>{{form.new_password1}}</p>
                </div>

                <div class="input-row">
                    <label for="new_password2" class="register-input">confirm new password</label>
                    <p>{{form.new_password2}}</p>
                </div>

                <button class="btn btn-submit update-submit" type="submit">reset password</button>
                <a class="btn btn-submit update-cancel" href="{% url 'accounts:profile' %}">cancel</a>
            </form>
        </div>
    
    </div>
{% endblock %}