{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Reset Password
{% endblock %}

{% block body %}

<div class="main-div">
    <h1 class= "main-title"><strong>Reset Password</strong></h1>
</div>

	<div class="container ctn-reset-password">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <h4{% if message.tags %} class="message-tag"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message|safe }}
                    </h4>
                {% endfor %}
            </ul>
        {% endif %}

  	 	
		<p>Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="input-row">
                <label for="email" class="login-input">email</label>
                <p>{{ form.email }}</p>
            </div>
           
            <button class="btn btn-submit login-submit" type="submit">send email</button>
        </form>
  	</div>
{% endblock %}